<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab" rel="stylesheet">
    <link href="vendor/startbootstrap/creative.css" rel="stylesheet" type='text/css'>

    <link rel="stylesheet" href="style.css">
    <link href="timeline.css" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="animate.min.css">
    <title>Votizen Healthcare</title>
    


<style>
    .form-control{
        margin-bottom: 6px;

    }
    .inputtext{
        width:100%;
        border-radius: 6px;
        border: 1px solid #ccc;
        padding: 6px 12px;
        font-size: 14px;
        color:#555;

    }
.inputtext:focus{
        outline: 2px solid #ADD8E6;

    }
.reset{
    background-color:#FF0000;
    color:#FFFFFF;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.1;
    padding: 6px 12px;
    border-color: red;
    width:70px;
    height:34px;
}
.reset:hover{
     background-color:#F21A1A;
     color:#FFFFFF;
}
.required
{
    color: #FF0000;
}
#state{
    margin-bottom: 7px;
}
</style>
</head>

<body>
    
    <div id="slideout-menu" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="blogslist.html">Blog</a>
            </li>
            <li>
                <a href="blogslist.html">Projects</a>
            </li>
            <li>
                <a href="about.html">About</a>
            </li>
        </ul>
    </div>

    <nav>
        <div id="logo-img">
            <a href="#">
                <img src="img/logo.png" alt="Logo">
            </a>
        </div>
        <div id="menu-icon">
            <i class="fas fa-bars"></i>
        </div>
        <ul>
            <li>
                <a class="active" href="index.html">Home</a>
            </li>
            <li>
                <a href="blogslist.html">Blog</a>
            </li>
            <li>
                <a href="product.html">Products</a>
            </li>
            <li>
                <a href="about.html">About</a>
            </li>
            <li>
                <a href="contact.html">Contact Us</a>
            </li>
        </ul>
    </nav>

    <div id="banner">
        <br><br>
        <h1>Votizen Healthcare</h1>
        <h3>Assured Quality At Rock-Bottom Price</h3>
        <br><br>
        <a href="contact.html" class="btn-readmore">Contact Us</a>
    </div>


    <div class="timeline" id="progress">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="section-heading">What makes us so Unique?</h2>
              
          </div>
        </div>
      </div>
      <ul>
        <li>
          <div>
            <time>Reasonable Pricing</time>
            
          </div>
        </li>
        <li>
          <div>
            <time>Qualitative Product Range</time> 
    
          </div>
        </li>
        <li>
          <div>
            <time>Customer-Centric Approach</time> 

          </div>
        </li>
        <li>
          <div>
            <time>Large Distribution Network</time>
           
          </div>
        </li>
        <li>
          <div>
            <time>Experienced Professionals</time>
           
          </div>
        </li>
        <li>
          <div>
            <time>Easy Payment Modes</time>
                   
          </div>
        </li>
        <li>
          <div>
            <time>On-Time Delivery</time>
                   
          </div>
        </li>
      </ul>
    </div>


    <h2 class="section-heading">Business Highlights</h2>
        </a>

        <section>
            <div class="card">
                <div class="card-image">
                    <a href="blogpost.html">
                        <img src="img/pcd.jpeg" alt="Card Image">
                    </a>
                </div>

                 <div class="card-description">
          <a href="pcd.html">
            <h3>PCD Franchise</h3>
          </a>
          <div class="card-meta">
            Posted by Admin on 23/01/2018 in
            <a href="#">Web Dev</a>
          </div>
          <p>
            PCD full form is a widely asked question on the internet. Let’s understand what is PCD and PCD full form.
           PCD – The full form of PCD is Propaganda cum Distribution. In the Pharma industry, PCD is used for marketing and distribution rights.Basically, PCD (Propaganda cum Distribution) is a franchise business.
          </p>
          <a href="pcd.html" class="btn-readmore">Read more</a>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <a href="monopoly.html">
            <img src="img/monopoly.jpeg" alt="Card Image">
          </a>
        </div>

        <div class="card-description">
          <a href="monopoly.html">
            <h3>Monopoly Franchise</h3>
          </a>
          <div class="card-meta">
            Posted by Admin on 23/01/2018 in
            <a href="#">Web Dev</a>
          </div>
          <p>
            A franchised monopoly is status given by the government to a company or individual. A monopoly refers to a situation where a given sector or industry is dominated by one firm, entity or corporation which has become large enough to own all or nearly all of the market for a particular type of product or service.
          </p>
          <a href="monopoly.html" class="btn-readmore">Read more</a>
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <a href="votizen.html">
            <img src="img/v.jpeg" alt="Card Image">
          </a>
        </div>

        <div class="card-description">
          <a href="votizen.html">
            <h3>Votizen Healthcare</h3>
          </a>
          <div class="card-meta">
            Posted by Admin on 23/01/2018 in
            <a href="#">Web Dev</a>
          </div>
          <p>
            Established in the year 2017 at New Delhi (New Delhi, India), we “Votizen Healthcare Pvt Ltd” are a Partnership firm engaged in trading an excellent quality assortment of Pharmaceutical Softgel and Pharmaceutical Tablets.
          </p>
          <a href="votizen.html" class="btn-readmore">Read more</a>
        </div>
      </div>
      <div class="card">
        <div class="card-image">
          <a href="medicine.html">
            <img src="img/medicine.jpeg" alt="Card Image">
          </a>
        </div>

        <div class="card-description">
          <a href="medicine.html">
            <h3>Medicine Business</h3>
          </a>
          <div class="card-meta">
            Posted by Admin on 23/01/2018 in
            <a href="#">Web Dev</a>
          </div>
          <p>
            In India, the Schedule B (Rule 98) of Drugs and Cosmetics Act (1948) specifies the ‘shelf-life’ (mostly 1-5 years) of drugs and the conditions of storage. Beyond the expiry date, the various drug formulations must be discarded to avoid toxicity.
          </p>
          <a href="medicine.html" class="btn-readmore">Read more</a>
        </div>
      </div>
        </section>

<!---CONTACT ME SECTION
        <a name="contact"></a>
        <div class="row">
            <div id="cont" class="col-md-12 col-sm-12 col-xs-12">


                <span id="cont_heading" class="jumbo_text">
    Get in touch  </span>
                <br>

                <div class="container-fluid last">
                    <div class="row" align="center">

                        <div class="infome col-md-6 col-xs-12">
                            <span class="skill_title">Votizen Healthcare</span>
                            <br><br><br>

                            <div class="row">
                                <a href="tel:+917986694979">
                                    <div class="col-md-4 col-xs-4">
                                        <img src="images/mob.png" class="inf_icon img-responsive" />
                                        <span class="inf_text">+91 7986694979</span>
                                    </div>
                                </a>
                                <a href="mailto:aravind.balaji@live.com">
                                    <div class="col-md-4  col-xs-4">
                                        <img src="images/mail.png" class="inf_icon img-responsive" />
                                        <span class="inf_text">yourownwebhost@gmail.com</span>
                                    </div>
                                </a>
                                <a href="https://api.whatsapp.com/send?phone=917986694979&text=">
                                    <div class="col-md-4  col-xs-4">
                                        <img src="images/whatsapp.png" class="inf_icon img-responsive" />
                                        <span class="inf_text">Connect via WhatsApp</span>
                                    </div>
                                </a>
                            </div>


                        </div>



                        <form class="form col-md-6 col-xs-12">
                            <div class="inputbox">
                                <span class="label">What's your name?</span><br>
                                <input ng-model="name" id="name" name="subject" class="inputtext" type="text">
                            </div>
                            <div class="inputbox">
                                <span class="label">Phone Number  ( optional )</span><br>
                                <input ng-model="phone" id="ph" class="inputtext" type="text">
                            </div>
                            <div class="inputbox">
                                <span class="label">Send a message</span><br>
                                <textarea ng-model="body" id="msg" class="inputtext" rows="5" name="body"></textarea>
                            </div>

                            <a href="mailto:yourownwebhost@gmail.com?subject={{ name + ' - Message from Your Own Web Host'}}&body={{ 'Contact Info: ' + phone + '<br><br>' + body + '<br><br><b>' + name +'</b>' }}">
                                    <button type="button" class="btn2">Send Mail</button>
                        </a>

                            <button id="clear_btn" type="reset" class="btn2">Clear</button>
                    </div>
                </div>
            </div>


        </div>


    </div>  --->

        <footer>
            <div id="left-footer">
                <h3>Quick Links</h3>
                <p>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                       
                        <li>
                            <a href="blogslist.html">Blogs</a>
                        </li>

                        <li>
                            <a href="product.html">Products</a>
                        </li>
                
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </p>
            </div>

            <div id="right-footer">
                <h3>Follow us on</h3>
                <div id="social-media-footer">
                    <ul>
                        <li>
                            <a href="https://m.facebook.com/monopolyfranchisee/">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/votizen_healthcare/">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/mwlite/in/votizen-healthcare-5287421b6">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>This website is developed by OnlineAjao.shop</p>
            </div>
            <a data-toggle="modal" href="#myModal"><img src="images/logo.png" id="fixedbutton"></a>
        </footer>


    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">ARRANGE A CALL BACK</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p id="doing">Fill in your details.</p>
                    <form class="make" action="mailto:jagteshvarjotsinghkohli@gmail.com" method="post" enctype="text/plain">

                        <div class="form-group">
                            <label for="state">State(Choose from the dropdown):</label>
                            <select name="state" id="state" name="state" class="form-control" required="required">
                                <option>Select</option>
                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                <option value="Assam">Assam</option>
                                <option value="Bihar">Bihar</option>
                                <option value="Chandigarh">Chandigarh</option>
                                <option value="Chhattisgarh">Chhattisgarh</option>
                                <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                                <option value="Daman and Diu">Daman and Diu</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Lakshadweep">Lakshadweep</option>
                                <option value="Puducherry">Puducherry</option>
                                <option value="Goa">Goa</option>
                                <option value="Gujarat">Gujarat</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                <option value="Jharkhand">Jharkhand</option>
                                <option value="Karnataka">Karnataka</option>
                                <option value="Kerala">Kerala</option>
                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Manipur">Manipur</option>
                                <option value="Meghalaya">Meghalaya</option>
                                <option value="Mizoram">Mizoram</option>
                                <option value="Nagaland">Nagaland</option>
                                <option value="Odisha">Odisha</option>
                                <option value="Punjab">Punjab</option>
                                <option value="Rajasthan">Rajasthan</option>
                                <option value="Sikkim">Sikkim</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="Telangana">Telangana</option>
                                <option value="Tripura">Tripura</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                <option value="Uttarakhand">Uttarakhand</option>
                                <option value="West Bengal">West Bengal</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Mobile Number</label>
                            <input type="text" class="form-control" name="mobile" placeholder="Mobile Number"  required="required" title="Enter 10 digit number" pattern="[1-9]{1}[0-9]{9}">
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input  type="text" class="form-control"  name="name" placeholder="What's your name?">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" name="email" placeholder="Email Address">
                        <div class="form-group">
                            <label for="msg">Message</label>
                            <textarea ng-model="body" id="msg" class="inputtext" rows="5" name="body" placeholder="Write your message"></textarea>
                        </div>
                        

                        <button type="submit" class="btn btn-primary">Send message</button>
                        <button type="reset" class="reset" value="Reset">Clear</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="frameworks/angular.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/script2.js"></script>
    <script src="vendor/jquery/jquery-3.2.1.slim.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/bootstrap.min.js"></script>
    <script src="frameworks/particles.js"></script>
    <script src="frameworks/particles_white.js"></script>
    <script src="js/animate.js"></script>
    <script src="js/timeline.js"></script>

    <script>
        $(document).ready(function(){
            $("#myModal").modal();
        });
    </script>
</body>

</html>